*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    color: red;
    text-decoration: underline;
}

a:hover .rating {
    color: red;
}

img:hover {
    box-shadow: 0px 1px 5px black;
}

body {
    /* background-color: rgba(112, 158, 158, 0.805); */
}

li {
    padding-bottom: 10px;
}

button {
    border: none;
    padding: 10px 10px;
    background-color: cornflowerblue;
    margin-right: 10px;
    margin-top: 5%;
    margin-left: 5px;  
    border-radius: 5px;  
}

.font20{
    font-size: 20px;
}

.black {
    color: black;
}

.fontStyle{
    font-family: Arial, Helvetica, sans-serif;
}

.listItem{
    display: inline;
    padding-right: 10px;
}

.product {
    /* padding-top: 20px;
    padding-left: 10px;
    width: 370px;
    max-width: min-content; */
    /* display: flex; */
    /* align-items: center; */
    padding-top: 20px;
    padding-left: 10px;
    width: 370px;
    max-width: min-content;
    display: flex;
    flex-direction: column;

}
.productName {
    padding-top: 5px;
    text-overflow: clip;
    word-wrap: break-word;
}
.picture {
    height: 200px;
    width: 200px;
    /* padding-bottom: 5px; */
}
.price {
    padding-top: 10px;
    font-weight: bold;
}

.rating {
    padding-top: 5px;
    font-style: italic;
    color: darkblue;
}

.icons {
    height: 25px;
}

.number {
    font-size: 20px;
}

#header {
    background-color: antiquewhite;
    width: 100vw;
    padding-bottom: 35px;
}

#information{
    float: right;
    padding-right: 100px;
}

#productTitle {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#productList {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    /* width: 100vw; */
    /* justify-content: start; */
}

#contact {
    /* height: 200px; */
    width: 100vw;
    margin-top: 50px;
    background-color: dimgray;
    border-top: solid 3px black;
    border-left: solid 1px black;
}

#contactHeader {
    font-size: 20px;    
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}

#contactNumbersContainer {
    padding-left: 100px;
    list-style: none;
}

#productDetailsImage {
    height: 300px;
    width: 250px;
}

#productDetails {
    display: flex;
    align-items: center;  
    flex-direction: column;
}

#productDetailsName {
    padding-top: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

#productDetailsDescription{
    border: 4px solid black;
    line-height: 50px;
    width: fit-content;
    margin: 0px 20px 0px 20px;
}

#buttons {
    padding-top: 0px;
    padding-left: 10px;
}

.btn {
    border-radius: 5px;
}

#deleteProduct.red {
    color: red;
}

#cart {
    float: right;
    padding: 10px 25px;
    margin-right: 7%;
}
